## **Лабораторная работа №5**

Есть файл bevarage.csv

Нужно выполнить 3 задачи ниже

In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split, KFold

In [18]:
df = pd.read_csv('beverage_r.csv', sep=';')

In [19]:
df.head()

   numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0         1     1       0        0      0      1       1    0        1
1         2     1       0        0      0      1       0    0        0
2         3     1       0        0      0      1       0    0        0
3         4     0       1        0      1      0       0    1        0
4         5     1       0        0      0      1       0    0        0

### **Задача 1**
Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений, а в тестовую выборку 33% наблюдений

In [20]:
train_df, test_df = train_test_split(df, train_size=0.66, random_state=42)

In [21]:
print(f"Размер обучающей выборки: {len(train_df)} наблюдений ({len(train_df)/len(df):.2%})")
print(f"Размер тестовой выборки: {len(test_df)} наблюдений ({len(test_df)/len(df):.2%})")

Размер обучающей выборки: 22 наблюдений (64.71%)
Размер тестовой выборки: 12 наблюдений (35.29%)

### **Задача 2**
Разделить таблицу данных на четыре одинаковых части.

In [22]:
kf = KFold(n_splits=4, shuffle=True, random_state=42)

In [23]:
four_parts = []
for i, (train_index, test_index) in enumerate(kf.split(df)):
    part = df.iloc[test_index]
    four_parts.append(part)

In [24]:
four_parts

[    numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
 8          9     1       1        0      0      0       1    1        1
 12        13     0       0        1      1      0       1    0        1
 15        16     0       0        0      0      1       1    0        0
 19        20     1       1        1      0      1       0    0        0
 21        22     1       0        0      0      1       0    0        0
 24        25     0       1        1      1      0       0    0        0
 26        27     0       1        0      0      0       0    1        0
 27        28     1       0        0      0      0       1    0        1
 32        33     1       0        0      0      1       0    0        1,
     numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
 0          1     1       0        0      0      1       1    0        1
 1          2     1       0        0      0      1       0    0        0
 4          5     1       0        0      0      1       0    0        0
 5          6     1       0        0      0      1       1    0        0
 9         10     1       0        0      0      1       0    0        1
 11        12     0       1        0      0      0       0    1        0
 13        14     1       0        0      0      0       1    0        0
 16        17     0       1        0      0      0       1    0        0
 17        18     1       1        0      0      1       0    0        0,
     numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
 2          3     1       0        0      0      1       0    0        0
 3          4     0       1        0      1      0       0    1        0
 18        19     1       0        0      0      0       0    0        1
 22        23     0       1        0      1      0       0    1        0
 23        24     1       1        0      0      1       0    0        0
 29        30     0       1        1      0      0       0    1        0
 30        31     1       0        0      0      1       0    0        1
 31        32     0       1        1      0      0       0    1        0,
     numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
 6          7     0       1        1      1      0       0    1        0
 7          8     1       1        0      0      1       1    0        1
 10        11     1       0        0      0      1       1    0        0
 14        15     0       1        1      0      0       0    1        0
 20        21     1       0        0      0      1       0    0        0
 25        26     0       1        0      1      0       0    1        0
 28        29     1       0        0      0      0       1    0        0
 33        34     0       1        1      1      0       0    1        0]

### **Задача 3**
Разделить таблицу данных на две стратифицированные подвыборки.
По переменным кока-кола и минералка.

In [32]:
df

,numb.obs,COKE,D_COKE,D_PEPSI,D_7UP,PEPSI,SPRITE,TAB,SEVENUP,strat_group
0,1,1,0,0,0,1,1,0,1,1_0
1,2,1,0,0,0,1,0,0,0,1_0
2,3,1,0,0,0,1,0,0,0,1_0
3,4,0,1,0,1,0,0,1,0,0_1
4,5,1,0,0,0,1,0,0,0,1_0
5,6,1,0,0,0,1,1,0,0,1_0
6,7,0,1,1,1,0,0,1,0,0_1
7,8,1,1,0,0,1,1,0,1,1_0
8,9,1,1,0,0,0,1,1,1,1_1
9,10,1,0,0,0,1,0,0,1,1_0
10,11,1,0,0,0,1,1,0,0,1_0
11,12,0,1,0,0,0,0,1,0,0_1
12,13,0,0,1,1,0,1,0,1,0_0
13,14,1,0,0,0,0,1,0,0,1_0
14,15,0,1,1,0,0,0,1,0,0_1
15,16,0,0,0,0,1,1,0,0,0_0
16,17,0,1,0,0,0,1,0,0,0_0
17,18,1,1,0,0,1,0,0,0,1_0
18,19,1,0,0,0,0,0,0,1,1_0
19,20,1,1,1,0,1,0,0,0,1_0
20,21,1,0,0,0,1,0,0,0,1_0
21,22,1,0,0,0,1,0,0,0,1_0
22,23,0,1,0,1,0,0,1,0,0_1
23,24,1,1,0,0,1,0,0,0,1_0
24,25,0,1,1,1,0,0,0,0,0_0
25,26,0,1,0,1,0,0,1,0,0_1
26,27,0,1,0,0,0,0,1,0,0_1
27,28,1,0,0,0,0,1,0,1,1_0
28,29,1,0,0,0,0,1,0,0,1_0
29,30,0,1,1,0,0,0,1,0,0_1
30,31,1,0,0,0,1,0,0,1,1_0
31,32,0,1,1,0,0,0,1,0,0_1
32,33,1,0,0,0,1,0,0,1,1_0
33,34,0,1,1,1,0,0,1,0,0_1

In [33]:
df['strat_group'] = df['COKE'].astype(str) + '_' + df['SPRITE'].astype(str)

In [34]:
subsample_1, subsample_2 = train_test_split(
    df, test_size=0.5, stratify=df['strat_group'], random_state=42
)

Смотрим сколько наблюдений в каждой подвыборке

In [35]:
print(f"Размер подвыборки 1: {len(subsample_1)} наблюдений")
print(f"Размер подвыборки 2: {len(subsample_2)} наблюдений")

Размер подвыборки 1: 17 наблюдений
Размер подвыборки 2: 17 наблюдений

Смотрим сколько наблюдений в изначальном дата сете

In [36]:
df['strat_group'].value_counts(normalize=True)

strat_group
1_0    0.352941
0_0    0.323529
1_1    0.235294
0_1    0.088235
Name: proportion, dtype: float64

Смотрим сколько наблюдений в новых подвыборках

In [37]:
print(subsample_1['strat_group'].value_counts(normalize=True))
print(subsample_2['strat_group'].value_counts(normalize=True))

strat_group
1_0    0.352941
0_0    0.294118
1_1    0.235294
0_1    0.117647
Name: proportion, dtype: float64
strat_group
1_0    0.352941
0_0    0.352941
1_1    0.235294
0_1    0.058824
Name: proportion, dtype: float64